<form class="zol-dice-prompt" autocomplete="off">
    <div class="zol-dice-prompt">
        <header >
            <span >Gestion des combats</span>
            <span class="hint" >{{description}}</span>
        </header>
        <hr>
        <div>nombre d'action libres choisie : 
            <td class="plusPolice">
              <b>Actions</b> : <i class="fas fa-minus-square cmd" title="Reduit" data-action="action.set.moins.{{nbActions}}"></i> 
              <input class="normal-input" type="text" size="1em" name="nbActions" value="{{nbActions}}" data-dtype="Number"/>
              <i class="fas fa-plus-square cmd" title="Augmente" data-action="action.set.plus.{{nbActions}}"></i>
              <span class="grdPolice">{{{visuAction}}}</span><i class="fad fa-sync rollable" data-action="action.reset.1"></i>
            </td>
        </div>
        <hr>
        <div>Choix de la difficulté:</div>
        <div class="grid-diff">
            {{#each lstDifficultes as |diff key|}}
                <div><a class="cmd" data-action="bonus.troggle.{{key}}.{{diff}}"><span>
                    {{#ifEq key ../difficulte}}
                        <i class="fas fa-circle-arrow-right"></i>
                    {{/ifEq}}
                    {{key}}</span></a></div>
                <div> {{diff}} </div>
            {{/each}}
        </div>
        <div class="data">
            <label>Difficulté : </label>
            <input class="normal-input" size="3em" type="number" name="diffSupp" value="{{diffSupp}}"/>
            <label>Total : <strong>{{diffTotal}}</strong> {{#if armure}} dont armure(-{{armure}}){{/if}}</label>
        </div>
        <hr>
        <div class="grid grid-3col" >
            
            <div>
                <div class="grid-border">
                {{#each lstPrimes as |prime key|}}
                    <div class="cmd" data-action="prime.choix.{{key}}">
                         {{#ifin key ../choixPrimes}}
                            <i class="fas fa-circle-check"></i>
                        {{/ifin}}
                        <strong>{{prime.label}}</strong>
                        {{#if prime.description}}
                            <br><small>{{prime.description}}</small>
                        {{/if}}
                    </div><br><br>    
                {{/each}}
                </div>
            </div>
            <div>
                <h2 class="items-header">Votre Position</h2>
                {{#ifEq caseAction "R"}}
                    <h3>En retrait (Initiative : {{init}})</h3>
                    <button class="dialog-button" data-button="position.garde.G">
                        passer en garde (1 action)
                    </button>
                    {{else}}
                    {{#ifEq caseAction "G"}}
                        <h3>En garde {{txtInit}}</h3>
                        <button class="dialog-button" data-button="position.feu.F">
                            passer dans le feu de l'action
                        </button>
                        <button class="dialog-button" data-button="position.retrait.R">
                            passer en retrait
                        </button>
                    {{else}}
                        <h3>Dans le feu de l'action {{txtInit}}</h3>
                        <button class="dialog-button" data-button="position.garde.G">
                            passer en Garde
                        </button>
                    {{/ifEq}}
                {{/ifEq}}
                <hr>
                <br>
                <div class="flexrow">
                    <h2>Votre action n°{{noActionEnCours}} : </h2>
                    <select  name="action" style="width:175px !important;">
                    {{selectOptions lstActionStd selected=action}}
                    </select>
                </div>
                <h2>Dépense de Points : </h2>
                {{#if nbPtSonge}}
                    <div class="cmd align-center" data-action="des.songe.1">
                        {{#if ptSongePris}}
                        <i class="fas fa-circle-check"></i>
                        {{/if}}
                    utilisez un point de<br> Songe (sur {{nbPtSonge}})
                    </div>
                    <hr>
                {{/if}}
                {{#if nbPtCauch}}
                    <div class="cmd align-center" data-action="des.cauchemard.1">
                        {{#if ptCauchemardPris}}
                        <i class="fas fa-circle-check"></i>
                        {{/if}}
                        utiliser un point de<br> Cauchemard (sur {{nbPtCauch}})
                    </div>
                    <hr>
                {{/if}}
            </div>
            <div>
                <div class="grid-border">
                    {{#each lstPenalites as |peine key|}}
                        <div class="cmd" data-action="penalite.choix.{{key}}">
                            {{#ifin key ../choixPenalites}}
                            <i class="fas fa-circle-check"></i>
                            {{/ifin}}
                        <strong>{{peine.label}}</strong>
                        {{#if peine.description}}
                            <br><small>{{peine.description}}</small>
                        {{/if}}
                        </div><br><br>   
                    {{/each}}
                </div>
                {{#if textEquilibre}}
                <div class="txtcenter misenevidence" >
                    {{textEquilibre}}
                </div>
                {{/if}}
            </div>
        </div>
        {{!--  <input name="obj" type="text" value='{{objValue}}' /> --}}
    </div>
    <footer class="sheet-footer grid grid-5col">
         <button class="dialog-button cancel" data-button="cancel">
            <i class="fa fa-check"></i> Abandon
        </button>
        <div class="grid-span-2" ></div>
        <div>
        {{#ifEq noActionEnCours nbActions}}
        </div>
        <div>
            <button class="dialog-button submit default" data-button="submit">
                <i class="fa fa-check"></i> Dernier Jet !
            </button>
        {{else}}
            <button class="dialog-button" data-button="lancer">
                <i class="fa fa-check"></i> Jet pour l'action {{noActionEnCours}} !
            </button>
        </div><div>
            <button class="dialog-button submit default" data-button="submit">
                <i class="fa fa-check"></i> Jet final !
            </button>
        {{/ifEq}}
        </div>
  </footer>
</form>