<div class="roll roll-skill">
    {{#if titre}}
			<h1><div class="roll-description">{{titre}}</div></h1>
    {{/if}}
    {{#if description}}
			<div class="roll-description">{{{description}}}</div>
    {{/if}}
    {{#if resultatQual}}
			<div class="roll-description">{{{resultatQual}}}</div>
    {{/if}}

    <div class="roll-description">{{localize 'LESOUBLIES.choixSongeOuCauchemard'}} </div>
    <hr>
    <div class="flexrow">
        <div>
            <a class="cmd" data-action="chat.choix.Songe.{{idToken}}.{{idActor}}.{{detteS}}.{{scoreS}}.{{lstPrimes}}.{{lstPenalites}}.{{titre}}">
               <i class="fa-solid fa-circle-arrow-right"></i>
                <strong>{{scoreS}}</strong>({{desS}}/{{localize 'LESOUBLIES.songe'}})
                </a>
        </div>
        <div>
            <a class="cmd" data-action="chat.choix.Cauchemard.{{idToken}}.{{idActor}}.{{detteC}}.{{scoreC}}.{{lstPrimes}}.{{lstPenalites}}.{{titre}}">
                <i class="fa-solid fa-circle-arrow-right"></i> 
                <strong>{{scoreC}}</strong>({{desC}}/{{localize 'LESOUBLIES.cauchemard'}})
            </a>
        </div>
    </div>
    <hr>
    <div>
        {{cout}}
    </div>
</div>