<div class="resultat chat">
    {{#if titre}}
			<h1><span class="roll-description">{{titre}}</span></h1>
    {{/if}}
    {{#if description}}
			<div class="roll-description">{{description}}</div>
    {{/if}}
    
    {{#if estUnSucces}}
        <h1>Success !</h1>
        <div class="roll-description">Votre réussite est <strong>{{resultatQual}}</strong></div>
    {{else}}
        <h1>Echec !</h1>
    {{/if}}
    {{#if aDommage}}
        <h3>Dommages</h3>
        les dommaegs de l'arme {{textArme}} : {{dommage}}
    {{/if}}
    <div class="roll-description">{{textRappel}} </div>
    <hr>
    {{#if lstPrimes}}
    <div>
        <h3>Rappel des primes</h3>
        <ul class="items-header">
            {{#each lstPrimes as |ele key| }}
            <li><div class="item-name">{{ele.label}}</div><div class="items-list ">{{ele.description}}</div></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    {{#if lstPenalites}}
    <div>
        <h3>Rappel des pénalités</h3>
        <ul class="items-header">
            {{#each lstPenalites as |ele key| }}
            <li><div class="item-name">{{ele.label}}</div><i class="items-list ">{{ele.description}}</i></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>